In [1]:
from funcs.notebook import *

- false positive number are often double counted, not a reliable source of algorithm efficiency
- the vetted list is rather a search protocol

In [2]:
df = pd.read_csv("../results/2020_02_flares_vetted.csv")

In [4]:
df.sort_values(by="note")

,istart,istop,cstart,cstop,tstart,tstop,ed_rec,ed_rec_err,ampl_rec,dur,total_n_valid_data_points,ID,qcs,mission,tstamp,dur_detrend,lc_n,real?,note
10097,9972.0,9977.0,257467.0,257472.0,1585.050878,1585.057823,1.487402,0.218396,0.002643,0.006945,17599,HD 95086,10,TESS,23_02_2021_10_05_33,4.354854,0,0.0,A star
10096,6731.0,6737.0,253219.0,253225.0,1579.150795,1579.159128,1.722029,0.193614,0.002856,0.008333,17599,HD 95086,10,TESS,23_02_2021_10_05_33,4.354854,0,0.0,A star
10095,520.0,524.0,246980.0,246984.0,1570.485326,1570.490882,1.318137,0.191562,0.002956,0.005556,17599,HD 95086,10,TESS,23_02_2021_10_05_33,4.354854,0,0.0,A star
10098,15486.0,15492.0,263008.0,263014.0,1592.746805,1592.755138,2.033116,0.201802,0.003169,0.008333,17599,HD 95086,10,TESS,23_02_2021_10_05_33,4.354854,0,0.0,A star
16719,94987.0,94994.0,4070765.0,4070772.0,2169.761732,2169.763353,1.821518,0.171253,0.018807,0.001620,95783,TOI-1338,31,TESS,08_03_2021_07_43_12,53.797882,0,0.0,De-trending failed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38687,TIC 159107668,13,Kepler,09_03_2021_13_12_41,20.859156,2,NaN,NaN
17988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7529,TIC 159107668,16,Kepler,09_03_2021_13_13_21,3.282432,0,NaN,NaN
17990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45832,TIC 159107668,16,Kepler,09_03_2021_13_13_57,18.633305,2,NaN,NaN
17991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32137,TIC 159107668,17,Kepler,09_03_2021_13_14_31,23.766843,0,NaN,NaN
17992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6058,TIC 159107668,17,Kepler,09_03_2021_13_14_54,1.374184,1,NaN,NaN

In [7]:
df[df.note == "saturated in detector"].shape[0]

547

In [6]:
df[df.note == "simultaneous FP in multiple Lcs"].shape[0]

1367

In [13]:
lcs_without_flare_candidates = df[df.ampl_rec.isnull()].shape[0]
flare_candidates = df[~df.ampl_rec.isnull()].shape[0]
assert df.shape[0] == flare_candidates + lcs_without_flare_candidates

In [14]:
flare_candidates, lcs_without_flare_candidates

(5503, 12490)

In [16]:
lcs_with_flare_candidates = df[~df.ampl_rec.isnull()].groupby(["ID","qcs","lc_n"]).first().shape[0]
lcs_with_flare_candidates

2416

In [ ]:
l