In [1]:
from funcs.notebook import *

In [2]:
df = pd.read_csv("../results/adtests.csv")
df.tail()

,tstamp,period,sector,subsample,AD,p,nflares,nsteps_mcmc,totobs_days,shift,dataset
575,2021-12-20,Rotation,Both Sectors,high energy half,2.049125,0.16230,142,200000,48.449074,0.45,discussion
576,2021-12-20,Rotation,Both Sectors,high energy half,7.988830,0.00033,142,200000,48.449074,0.85,discussion
577,2021-12-20,Rotation,Both Sectors,high energy half,2.743006,0.07357,142,200000,48.449074,0.75,discussion
578,2021-12-20,Rotation,Both Sectors,high energy half,1.131325,0.58955,142,200000,48.449074,0.65,discussion
579,2021-12-20,Rotation,Both Sectors,high energy half,1.215314,0.51024,142,200000,48.449074,0.95,discussion

In [6]:
# select the latest results
df = df[df.dataset=="discussion"]
df.shape

(40, 11)

In [7]:
new = df.groupby(["sector",'subsample','period'])["shift"].count()
new

sector        subsample         period
Both Sectors  high energy half  Orbit       20
                                Rotation    20
Name: shift, dtype: int64

In [8]:
groupedmed = df.groupby(["period", "sector", "subsample"]).p.median()
groupedvar = df.groupby(["period", "sector", "subsample"]).p.std()

In [9]:
d = pd.DataFrame({"pval":groupedmed, "sig":groupedvar})
d

                                            pval       sig
period   sector       subsample
Orbit    Both Sectors high energy half  0.003425  0.006403
Rotation Both Sectors high energy half  0.417890  0.212198

In [10]:
# hand copied data from the triple-section to confirm the median p value is above 3 sigma, i.e., below 0.0013

np.median([0., 6.67E-06, 0.00014, 0.001086666666667, 0.001626666666667, 3.33E-05, 0.0014, 0.00266])

0.001086666666667