In [40]:
from funcs.notebook import *

In [41]:
df = pd.read_csv("../results/adtests.csv")
df.tail()

,tstamp,period,sector,subsample,AD,p,nflares,nsteps_mcmc,totobs_days,shift
1478,2021-12-20,Rotation,Both Sectors,high energy half,2.049125,0.16230,142,200000,48.449074,0.45
1479,2021-12-20,Rotation,Both Sectors,high energy half,7.988830,0.00033,142,200000,48.449074,0.85
1480,2021-12-20,Rotation,Both Sectors,high energy half,2.743006,0.07357,142,200000,48.449074,0.75
1481,2021-12-20,Rotation,Both Sectors,high energy half,1.131325,0.58955,142,200000,48.449074,0.65
1482,2021-12-20,Rotation,Both Sectors,high energy half,1.215314,0.51024,142,200000,48.449074,0.95

In [42]:
# select the latest results
df = df[df.tstamp=="2021-12-20"]
df.tail()

,tstamp,period,sector,subsample,AD,p,nflares,nsteps_mcmc,totobs_days,shift
1478,2021-12-20,Rotation,Both Sectors,high energy half,2.049125,0.16230,142,200000,48.449074,0.45
1479,2021-12-20,Rotation,Both Sectors,high energy half,7.988830,0.00033,142,200000,48.449074,0.85
1480,2021-12-20,Rotation,Both Sectors,high energy half,2.743006,0.07357,142,200000,48.449074,0.75
1481,2021-12-20,Rotation,Both Sectors,high energy half,1.131325,0.58955,142,200000,48.449074,0.65
1482,2021-12-20,Rotation,Both Sectors,high energy half,1.215314,0.51024,142,200000,48.449074,0.95

In [43]:
df = df[(df.nsteps_mcmc 100000) ]# & (df.nsteps_mcmc < 100000)
df = df.drop_duplicates(subset=["sector",'subsample','period',"shift"], keep="last")
new = df.groupby(["sector",'subsample','period'])["shift"].count()
new

sector        subsample         period
Both Sectors  high energy half  Orbit       20
                                Rotation    20
Name: shift, dtype: int64

In [51]:
groupedmed = df.groupby(["period", "sector", "subsample"]).p.median()
groupedvar = df.groupby(["period", "sector", "subsample"]).p.std()

In [52]:
d = pd.DataFrame({"pval":groupedmed, "sig":groupedvar})
d

                                            pval       sig
period   sector       subsample
Orbit    Both Sectors high energy half  0.003425  0.006403
Rotation Both Sectors high energy half  0.417890  0.212198

In [34]:
median, mean

double 0.00006 0.000548
triple 0.00023 0.000522

SyntaxError: invalid syntax (2976846768.py, line 1)